<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{{ "css/styles.css" | relURL }}'>
</head>
<body>
  <nav>
    <div class="container">
      <a class="logo" href="/">{{ .Site.Title }}</a>
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </nav>

  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }} • <a href="/contact/">Contact Us</a></p>
    </div>
  </footer>
</body>
</html>
